


<ul class="flex items-center text-sm font-medium h-full">
    
    {% if user.is_authenticated %}
        <li class="nav_link"><a href="{% url 'users:switch-hosting' %}">
            
            {% if request.session.is_hosting %}
                Stop Hosting
            {% else %}
                Start Hosting
            {% endif %}
                
        </a></li>        
        
        
        {% if request.session.is_hosting %}
        <li class="nav_link"><a href="{% url 'rooms:create' %}">Create Room</a></li>        
        {% endif %}
            

        <li class="nav_link"><a href="{% url 'lists:see-favs' %}">Favs</a>
            {% if user.list.rooms.count > 0 %}
            <span class="-ml-6 -mt-5 bg-red-500 text-xs text-white block h-5 w-5 rounded aling-middle text-center font-medium rounded-full">{{ user.list.rooms.count }}</span>
            {% endif %}
        </li>        
        <li class="nav_link"><a href="{% url 'users:profile' user.pk %}">Profile</a></li>    
        <li class="nav_link"><a href="{% url 'users:logout' %}">Logout</a></li>
    {% else %}
        
        <li class="nav_link"><a href="{% url 'users:login' %}">Log in</a></li>
        <li class="nav_link"><a href="{% url 'users:signup' %}">Sign up</a></li>
    {% endif %}
        

</ul>